<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/general.css" th:href="@{/css/general.css}" type="text/css" >

    <style>
        body{
            background: black;
            text-align:center;
            color:white;
            width:80%
        }
    </style>
</head>
<body>
<div class="error_message">  pagina não encontrada</div>
    <div class="menu_return">   <a th:href="@{../control}" class="menu_return">retornar ao menu</a></div>
    <footer>
        <img class="logo" src="../../static/images/mathschoollogo.png" th:src="@{/images/mathschoollogo.png}">
    </footer>
</body>
</html>